.projects-container {
    background-color: #CBF281;
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.projects-container h1 {
    color: #4731D3;
}

.project-content {
    background-color: #fff;
    max-width: 960px;
    max-height: 360px;
    display: flex;
    border-radius: 16px;

}

.project-img img {
    width: 360px;
    height: 360px;
}

.project-info {
    padding: 3rem 2rem;
}

.project-info h2 {
    color: #4731D3;
    font-size: 32px;
}

.project-info p {
    color: #383838;
    font-size: 16px;
}

.project-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}
.project-list p{
    box-shadow:#4731D3;
    font-size: 14px;
    padding: 9px 18px 9px 18px;
    margin: 0;
}

.project-links{
    display: flex;
    gap: 2rem;
    
}

.project-links a {
    color: #120B39;
}